
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playwrite+AU+SA:wght@100..400&family=Poiret+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    border: solid 8px;
  
}
h1 {
    text-align: center;
    font-size: 35px;
}
h1:hover {
    transition: all 1.5s;
    font-size: 39px;
    color: gray;
}
.Letters-Rows {
    padding-top: 300px;
    font-size: 20px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
}
.Row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.Row2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.Row3 {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#btn {
font-size: 30px;
border: gray solid 2px;
width:60px;
margin: 15px;


}
#btn:hover {
transition: all 1s;
font-size: 40px;
padding: 5px;
text-align: center;
color: gray;
}
.Inputs {
display:flex;
flex-direction: row;
font-size: 75px;
justify-content: center;
margin-top: 0px;
}
.Tower {
    display:flex;
    flex-direction: row;
    font-size: 60px;
    justify-content: center;
   margin-top: -90px;
   
}